<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/login-layout.css}" />
  <title>Title</title>
</head>
<body>
    <div>
        <div class="main-layout">
            <div class="login-layout">
                <div class="login-element-layout">
                    <div class="logo-layout">
                        <div class="ctts-logo"></div>
                    </div>
                    <h2>Login</h2>
                    <hr/>
                    <div class="login-element-container">
                        <form class="login-form">
                            <div>
                                <label for="username">Username</label>
                                <input class="full-expand" id="username" type="text"/>
                            </div>
                            <div>
                                <label for="password">Password</label>
                                <input class="full-expand" id="password" type="password"/>
                            </div>
                            <div>
                                <button class="full-expand"><bold>로그인</bold></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>